In [21]:
import pandas as pd
import plotly.express as px
import streamlit as st

In [22]:
dados = pd.read_csv("C:/Users/fabi_/projeto5/V_OCORRENCIA_AMPLA.csv", sep=";")

#fonte dos dados: https://dados.gov.br/dados/conjuntos-dados/ocorrencias-aeronauticas

In [23]:
print(dados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5021 entries, 0 to 5020
Data columns (total 45 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Numero_da_Ocorrencia              5021 non-null   int64
 1   Numero_da_Ficha                   5019 non-null   object
 2   Operador_Padronizado              4945 non-null   object
 3   Classificacao_da_Ocorrencia       5021 non-null   object
 4   Data_da_Ocorrencia                5021 non-null   object
 5   Hora_da_Ocorrencia                3588 non-null   object
 6   Municipio                         3627 non-null   object
 7   UF                                5018 non-null   object
 8   Regiao                            4351 non-null   object
 9   Descricao_do_Tipo                 4379 non-null   object
 10  ICAO                              1687 non-null   object
 11  Latitude                          3531 non-null   object
 12  Longitude                         3531 non-null   object
 13  Tipo_de_Aerodromo                 1572 non-null   object
 14  Historico                         4756 non-null   object
 15  Matricula                         5017 non-null   object
 16  Categoria_da_Aeronave             5012 non-null   object
 17  Operador                          4945 non-null   object
 18  Tipo_de_Ocorrencia                4379 non-null   object
 19  Fase_da_Operacao                  3721 non-null   object
 20  Operacao                          4927 non-null   object
 21  Danos_a_Aeronave                  3595 non-null   object
 22  Aerodromo_de_Destino              2883 non-null   object
 23  Aerodromo_de_Origem               2904 non-null   object
 24  Lesoes_Fatais_Tripulantes         3903 non-null   float64
 25  Lesoes_Fatais_Passageiros         3782 non-null   float64
 26  Lesoes_Fatais_Terceiros           3702 non-null   float64
 27  Lesoes_Graves_Tripulantes         3853 non-null   float64
 28  Lesoes_Graves_Passageiros         3740 non-null   float64
 29  Lesoes_Graves_Terceiros           3694 non-null   float64
 30  Lesoes_Leves_Tripulantes          3897 non-null   float64
 31  Lesoes_Leves_Passageiros          3744 non-null   float64
 32  Lesoes_Leves_Terceiros            3694 non-null   float64
 33  Ilesos_Tripulantes                4611 non-null   float64
 34  Ilesos_Passageiros                4072 non-null   float64
 35  Lesoes_Desconhecidas_Tripulantes  3706 non-null   float64
 36  Lesoes_Desconhecidas_Passageiros  3695 non-null   float64
 37  Lesoes_Desconhecidas_Terceiros    3694 non-null   float64
 38  Modelo                            4858 non-null   object
 39  CLS                               4846 non-null   object
 40  Tipo_ICAO                         4863 non-null   object
 41  PMD                               4876 non-null   float64
 42  Numero_de_Assentos                4872 non-null   float64
 43  Nome_do_Fabricante                4730 non-null   object
 44  PSSO                              5021 non-null   object
dtypes: float64(16), int64(1), object(28)
memory usage: 1.7+ MB
None

In [24]:
primeiras_linhas = dados.head(10)
primeiras_linhas.to_csv('amostra.csv', index=False, sep=',')

In [30]:
print(dados['Categoria_da_Aeronave'].unique())
print(dados['Categoria_da_Aeronave'].nunique())

['PET' 'ADE' 'PRI' 'TPP' 'S11' 'M48' 'Estrangeira' 'AMD' nan 'S05' 'TPX'
 'D15' 'M43' 'M35' 'S09' 'M25' 'ADF' 'TPR' 'S59' 'T11' 'M14' 'D13' 'D20'
 'Sem matr√≠cula' 'ESTRANGEIRA' 'AIF' 'PIN' 'AID' 'SAE' 'INDEFINIDA' 'PEX'
 'S07' 'M24' 'S05S' 'M37' 'SAE-AG' 'S00' 'PRH' 'ADD' 'M42' 'M15' 'TPN'
 'Militar' 'M16' 'M56' 'M60' 'D17' 'D08' 'D19' 'D05' 'D18' 'P50' 'S22'
 'EX2' 'ALE' 'S82' 'M46' 'S51']
57

In [31]:
dados['lesoes_fatais'] = dados['Lesoes_Fatais_Tripulantes'] + dados['Lesoes_Fatais_Passageiros'] + dados['Lesoes_Fatais_Terceiros']
dados['lesoes_graves'] = dados['Lesoes_Graves_Tripulantes'] + dados['Lesoes_Graves_Passageiros'] + dados['Lesoes_Graves_Terceiros']
dados['lesoes_leves'] = dados['Lesoes_Leves_Tripulantes'] + dados['Lesoes_Leves_Passageiros'] + dados['Lesoes_Leves_Terceiros']
dados['ilesos'] = dados['Ilesos_Tripulantes'] + dados['Ilesos_Passageiros']
dados['lesoes_desconhecidas'] = dados['Lesoes_Desconhecidas_Tripulantes'] + dados['Lesoes_Desconhecidas_Passageiros'] + dados['Lesoes_Desconhecidas_Terceiros']

In [35]:
dados_v1 = dados[['Numero_da_Ocorrencia', 'Classificacao_da_Ocorrencia', 'Data_da_Ocorrencia', 'Municipio', 'UF', 'Regiao', 'Descricao_do_Tipo', 'Categoria_da_Aeronave', 'Fase_da_Operacao', 'Operacao', 'Danos_a_Aeronave', 'Modelo', 'Nome_do_Fabricante', 'lesoes_fatais', 'lesoes_graves', 'lesoes_leves', 'ilesos', 'lesoes_desconhecidas']]
dados_v1 = dados_v1.rename(columns={
    'Numero_da_Ocorrencia' : 'numero_da_ocorrencia',
    'Classificacao_da_Ocorrencia' : 'classificacao_da_ocorrencia',
    'Data_da_Ocorrencia' : 'data_da_ocorrencia',
    'Municipio' : 'municipio',
    'UF' : 'uf',
    'Regiao' : 'regiao',
    'Descricao_do_Tipo' : 'tipo_de_ocorrencia',
    'Categoria_da_Aeronave' : 'categoria_da_aeronave',
    'Fase_da_Operacao' : 'fase_da_operacao',
    'Operacao' : 'tipo_de_operacao',
    'Danos_a_Aeronave' : 'danos_a_aeronave',
    'Modelo' : 'modelo',
    'Nome_do_Fabricante' : 'nome_do_fabricante'
})

In [36]:
print(dados_v1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5021 entries, 0 to 5020
Data columns (total 18 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   numero_da_ocorrencia         5021 non-null   int64
 1   classificacao_da_ocorrencia  5021 non-null   object
 2   data_da_ocorrencia           5021 non-null   object
 3   municipio                    3627 non-null   object
 4   uf                           5018 non-null   object
 5   regiao                       4351 non-null   object
 6   tipo_de_ocorrencia           4379 non-null   object
 7   categoria_da_aeronave        5012 non-null   object
 8   fase_da_operacao             3721 non-null   object
 9   tipo_de_operacao             4927 non-null   object
 10  danos_a_aeronave             3595 non-null   object
 11  modelo                       4858 non-null   object
 12  nome_do_fabricante           4730 non-null   object
 13  lesoes_fatais                3694 non-null   float64
 14  lesoes_graves                3692 non-null   float64
 15  lesoes_leves                 3692 non-null   float64
 16  ilesos                       4049 non-null   float64
 17  lesoes_desconhecidas         3690 non-null   float64
dtypes: float64(5), int64(1), object(12)
memory usage: 706.2+ KB
None